* {
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select {
    padding-top: 15px;
    font-size: 12px;
    height: 18px;
    width: 401px;
    display: flex;
    justify-content: center;
}

.select p {
    color: #8e8e8e;    
}

.container {
    width: 350px;
    height:456px;
    margin: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagem {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.formulario {
    width: 270px;
    height: 302px;
}

.facebook {
    background-color: #0095F6;
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 33px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.facebook-icon {
    height: 16px;
    margin-right: 8px;
}

.separador {
    font-size: 0.8125rem;
    color: #8e8e8e;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0 1.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.separador::before, .separador::after {
    content: "";
    width: 106px;
    height: 1px;
    display: block;
    background-color: #dbdbdb;
}

input {
    height: 2.25rem;
    font-size: 12px;
    border-radius: 3px;
    color: #262626;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    margin-bottom: 0.25rem;
    padding: 0 0.5rem;
}

.esqueceu-senha {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.esqueceu-senha a {
    text-decoration: none;
    color: #0095F6;
}

#entrar {
    background-color: #B2DFFC;
    height: 30px;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastre-se {
    color: #8e8e8e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.cadastre-se a {
    text-decoration: none;
    color: #0095F6;
    font-weight: bold;
}

.meta {
    margin-top: 140px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links div a {
    text-decoration: none;
    color: #8e8e8e;
    padding: 5px;
    font-size: 12px;
}
@media (min-width: 450px) {
    .container {
       border: 1px solid #dbdbdb; 
       border-radius: 3px;
    }
}